*{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 90px;
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav .logo{
    float: left;
    margin-top: 24px;
    margin-left: 2%;
    background-color: #F0F0F0;
}
nav .logo img{
    height: 3em;
    background-color: #F0F0F0;
}
nav .profile{
    float: right;
    margin-top: 24px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;  
}
nav .dotul{
    padding: 0;
    margin-top: 33px;
    margin-right: 50px ;
}
nav .dotul li{
    line-height: 5px;
    display: block;
    margin-top: 0;
}

nav ul{
    float: right;
    list-style: none;
    margin-top: 25px;
    margin-right: 2%;
}
nav li{
    padding-right: 5px;
    display: inline-block;
    line-height: 50px;
}
nav ul li img{
    border-radius: 50%;
    width: 30px;
    height: 50px;
}

#container{
    position: absolute;
    display: grid;
    margin: 0px;
    grid-template-columns: 10% 90% ;
}
main{
    display: grid;
    grid-template-rows: max-content fit-content fit-content(1000px) fit-content(1000px) fit-content(1000px);
    grid-template-columns: repeat(2,50%);
    width: 75%;
    margin: 50px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}
@media only screen and (max-width:720px){
    main{
        grid-template-columns: 1fr;
    }

}
.top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 0 5px 20px;
    display: flex;
    color: white;
    vertical-align: baseline;
    grid-column: 1/-1;
    background-color: blue;
}
.r2{
    display: flex;
    height: 100px;
    align-items: center;
    /* text-align: center; */
    font-weight: bolder;
    margin: auto;
    grid-column: 1/-1;
}

.all{
    background-color: #fff;
    padding: 0;
    align-items: center;
}
.wrapper{
    border-radius: 20px;
    box-sizing: content-box;
    margin: auto;
    width: 90%;
    overflow: hidden;
    text-align: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.wrapper h3{
    background-color: black;
    color: white;
    text-align: center;
}
.toggle{
    display: none;
}
.arrow{
    cursor: pointer;
    font-weight: bolder;
    display: block;
    text-align: right;
    padding-right: 15px;
}

.arrow:before{
    font-size: 20px;
    content: ">";
    transform: rotate(270deg);
    vertical-align: text-bottom;
    display: inline-block;
}
.toggle:not(:checked) ~ .arrow:before{
    font-size: 20px;
    content: ">";
    transform: rotate(90deg);
    vertical-align: text-bottom;
    display: inline-block;
}
.expand{
   height: 0;
   overflow: hidden;
   transition: height 0.5s;
   color: #fff;
}
section{
    padding: 15px;
}
.toggle:checked ~ .expand{
    height:auto;
    color: black;
    padding: 0 15px;
}
.comment{
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 10px;
    resize:none ;
    border: 0px;
    border-radius: 10px;
    outline: none;
    height: 200px;
    width: 100%;
    margin: 0;
}

h4{
    padding-left: 10px;
    background-color: lightgray;
}
.inner-main{
    display: grid;
    grid-template-rows: fit-content(1000px) fit-content(1000px) fit-content(1000px);
    padding: 15px 0;
}
.inner-wrapper{
    box-sizing: content-box;
    margin: auto;
    width: 100%;
    overflow: hidden;
    text-align: left;
    background-color: rgb(240, 38, 38);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}
.inner-arrow{
    cursor: pointer;
    position: relative;
    float: left;
    padding-right: 10px;
}
.inner-arrow:before{
    font-size: 20px;
    content: "~";
    transform: rotate(270deg);
    text-align: right;
    display: inline-block;
}
.inner-expand{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    color: #fff;
}
.inner-toggle:checked ~ .inner-expand{
    height:auto;
    color: rgb(233, 36, 36);
    padding: 10px 10px 10px 10px;
}
/* .intro-expand{
    align-items: center;
    text-align: center;
    padding: 20px;
} */
.intro{
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 10px;
    resize:none ;
    border: 0px;
    border-radius: 10px;
    outline: none;
    min-height: 70px;
    width: 70%;
    margin: 0;
}

.thread-expand{

}
.thread-expand p{
    padding: 3px 0;
    background-color: rgb(186, 182, 182);
    box-sizing: border-box;
    box-shadow: 0 -2px 4px  rgba(0, 0, 0, 0.4);
    color: black;
    max-width: 70%;
    text-align: left;
    border-top-left-radius:5px ;
    border-top-right-radius:10px ;
}
.thread{
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    resize:none ;
    border: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    width: 70%;
    margin: 0;
    height: auto;
}
.inner-toggle{
    display: none;
}
#addexample{
    cursor: pointer;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    background-color: #0029FF;
    color: white;
    padding: 10px;
    /* margin: 0 auto; */
    text-align: center;
}
#addthread{
    float: right;
    cursor: pointer;
    margin: 10px 30%;
    border: 0;
    border-radius: 5px;
    background-color: #0029FF;
    color: white;
    padding: 10px ;
}
.r4-c2{
    
}
.r5-c1{
    background-color: green;
}
.r5-c2{
    background-color: purple;
}